{% extends "layout.html" %}


{% block content %}
 <h1 class="text-center">Blog</h1>


 <div class="container mt-4">
   <h2 class="display-6">{{ post.title }}</h2>


   {% if post.image_path %}
     <div class="mb-3 text-center">
       <img src="{{ url_for('static', filename='uploads/' ~ post.image_path) }}"
            alt="{{ post.title }}"
            class="img-fluid rounded"
            style="max-width: 100%; height: auto;">
     </div>
   {% endif %}


   <p>{{ post.content }}</p>
 </div>
{% endblock %}
