{% macro get_image(image_path) %}
  {% if image_path %}
    <img src="{{ image_path }}" alt="Post Image" class="img-fluid mb-3" />
  {% else %}
    <img src="/static/images/dog.jpg" class="img-fluid mb-3" />
  {% endif %}
{% endmacro %}



{% macro blog_post(post, show_content) %}

<div class="blog-post">
  {% if show_content %}
  <a href="{{url_for('home_page')}}" class="back-link">Go back</a>
  <h1 class="post-title">{{post.title}}</h1>
  <p class="date">Posted on {{post.published_on.strftime("%d %B")}}</p>
  {% else %} {{ get_image(post.image) }}
  <a href="{{url_for('post_page', post_link=post.permalink)}}">
    <h1 class="post-title">{{post.title}}</h1>
  </a>

  {% endif %}

  <p class="post-meta">Written by {{post.author}}</p>
  {% if post.rating %}
      <p><strong>Strain Index:</strong> {{ post.rating }}</p>
    {% endif %}

  {% if show_content %} {% autoescape false %}
  <p class="post-content">{{post.content}}</p>
  {% endautoescape %} {% for tag in post.tags.split(',') %}
  <span class="badge rounded-pill bg-info text-dark">{{tag}}</span>
  {% endfor %}
  <div id="disqus_thread"></div>
  <script>
 
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >
  {% endif %} {% if session.get('logged_in') %}
  <div class="mt-4">
    <a
      class="btn btn-warning"
      href="{{url_for('editor', post_link=post.permalink)}}"
      >Edit</a
    >
    <a
      class="btn btn-dark"
      href="{{url_for('delete_post_page', post_id=post.PostId)}}"
      >Delete</a
    >
  </div>
  {% endif %}
</div>
{% endmacro %}