{% extends "layout.html" %}




{% set page_title="Paw Point" %}


{% block content %}
<div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ url_for('static', filename='images/dog3.jpeg') }}" alt="First slide">
    </div>
  </div>
  <div class="carousel-overlay">


  <blockquote class="blockquote">
    <p style="color: white; margin-right: 20px">“Currently, a shelter pet is killed every 90 seconds. This tragic reality isn’t due to a lack of homes but rather the choice an individual makes when acquiring a pet.”</p>
    <footer class="blockquote-footer" style="color: white">Julie Castle, CEO, Best Friends Animal Society</footer>
  </blockquote>
        <a
      class="btn get-started"
      id="btnhow-can-you-help"
      color="#F9DC5C"
      href="https://bestfriends.org/who-we-are/media/5-tips-finding-your-new-best-friend-adopt-shelter-dog-month"
      >How can you help?</a
    >
  </div>
<div class="container">
    <h1 id="info-title" style ="margin-top: 20px;">Animal Shelters in United States</h1>
    <div class="info">
  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/capacity.png') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">What Are Animal Shelters and Common Capacity? </h5>
      <p class="card-text"><p>Animal Shelters: Animal shelters are typically safe havens that rescue and care for stray, abandoned, or surrendered pets. They provide temporary homes, medical care, and work to find loving families for these animals. Unfortunately, the mistreatment of animals is becoming increasingly common in shelters.<p>Common Capacity: Most shelters can house anywhere from a few dozen to several hundred animals at a time, depending on their size and resources. Unfortunately, many shelters operate at or above capacity, which can strain their ability to care for every animal adequately.</p>
    <a class="btn btn-warning" href="https://www.aspca.org/helping-shelters-people-pets/us-animal-shelter-statistics">More info</a>
    </div>
  </div>


  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/overcrowding.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dangers in Shelters</h5>
      <p class="card-text">
<p>Crowding and limited resources in animal shelters can cause serious stress and illness for animals. When shelters are full, animals often don’t get the care or attention they need. Without enough space or adopters, shelters sometimes face the heartbreaking choice of euthanasia to manage their populations.


<p>Each year, about 6.3 million animals enter U.S. shelters. Despite the shelters’ best efforts, roughly 1.5 million are euthanized due to overcrowding and a lack of homes. According to animalrescuesforchange.org, California records the highest municipal shelter euthanasia rates in the US, peaking at 17% over three years. For reference, the average euthanasia rate in the US is 8.5%.</p>
    <a class="btn btn-warning" href="https://animalrescuesforchange.org/blog-post-title-4/">More info</a></div>
  </div>


  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/adoption.png') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adoption vs. Buying — Why Adoption is Better</h5>
      <p class="card-text">Adopting a pet saves lives and helps reduce overcrowding in shelters. When you adopt, you’re giving a homeless animal a second chance at a happy life. Buying pets from breeders or pet stores can unintentionally support unethical breeding practices and puppy mills. Choose adoption—it’s the compassionate, responsible, and life-changing choice for both you and your new furry friend.</p>
      <a class="btn btn-warning" href="https://www.humaneanimalpartners.org/adopting-vs-buying-why-adoption-is-the-better-choice/">More info</a>
    </div>
  </div>
</div>
</div>




{% endblock %}


